@page
@model WebApplication1.Pages.phieudatve.DetailsModel
@{
    Layout = "_Layout";
}

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PhieuDatVe</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhieuDatVe.NgayDat)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhieuDatVe.NgayDat)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhieuDatVe.ChuyenBay)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhieuDatVe.ChuyenBay.ChuyenBayId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhieuDatVe.KhachHang)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhieuDatVe.KhachHang.KhachHangId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhieuDatVe.LoTrinh)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhieuDatVe.LoTrinh.LoTrinhId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.PhieuDatVe.PhieuDatVeId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
