@page
@model WebApplication1.Pages.vemaybay.DeleteModel
@{
    Layout = "_Layout";
}

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>VeMayBay</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VeMayBay.SoGhe)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VeMayBay.SoGhe)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VeMayBay.KhoangGhe)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VeMayBay.KhoangGhe)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VeMayBay.GiaVe)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VeMayBay.GiaVe)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VeMayBay.ChuyenBay)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VeMayBay.ChuyenBay.ChuyenBayId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VeMayBay.PhieuDatVe)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VeMayBay.PhieuDatVe.PhieuDatVeId)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="VeMayBay.VeMayBayId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
